In [1]:
import pandas as pd

In [3]:
from google.colab import files
files.upload()

Saving new.csv to new.csv

{'new.csv': b'tickers,eps,revenue,price,people\r\nGOOGL,27.82,87,845,larry page\r\nWMT,4.61,484,65,Sam Walton\r\nMSFT,-1,85,64,bill gates\r\nRIL ,not available,50,1023,mukesh ambani\r\nTATA,5.6,-1,50,ratan tata\r\n'}

In [4]:
from google.colab import files
files.upload()

Saving stocks_weather.csv to stocks_weather.csv

{'stocks_weather.csv': b',eps,pe,price,tickers\r\n0,27.82,30.37,845,GOOGL\r\n1,4.61,14.26,65,WMT\r\n2,2.12,30.97,64,MSFT\r\n'}

In [5]:
from google.colab import files
files.upload()

Saving stock_data.csv to stock_data.csv

{'stock_data.csv': b'tickers,eps,revenue,price,people\r\nGOOGL,27.82,87,845,larry page\r\nWMT,4.61,484,65,n.a.\r\nMSFT,-1,85,64,bill gates\r\nRIL ,not available,50,1023,mukesh ambani\r\nTATA,5.6,-1,n.a.,ratan tata\r\n'}

In [6]:
from google.colab import files
files.upload()

Saving read_write_to_excel.csv to read_write_to_excel.csv

{'read_write_to_excel.csv': b'tickers,price,\r\nGOOGL,845,\r\nWMT,65,\r\nMSFT,64,\r\nRIL,1023,\r\nTATA,n.a.,\r\n'}

In [7]:
df = pd.read_csv("stock_data.csv")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [8]:
df = pd.read_csv("stock_data.csv", skiprows=1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [9]:
df = pd.read_csv("stock_data.csv", header=1) # skiprows and header are kind of same
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [10]:
df = pd.read_csv("stock_data.csv", header=None, names = ["ticker","eps","revenue","people"])
df

                ticker      eps revenue         people
tickers            eps  revenue   price         people
GOOGL            27.82       87     845     larry page
WMT               4.61      484      65           n.a.
MSFT                -1       85      64     bill gates
RIL      not available       50    1023  mukesh ambani
TATA               5.6       -1    n.a.     ratan tata

In [11]:
df = pd.read_csv("stock_data.csv",  nrows=2)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.

In [12]:
df = pd.read_csv("stock_data.csv", na_values=["n.a.", "not available"])
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [13]:
df = pd.read_csv("stock_data.csv",  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.']
    })
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [14]:
df.to_csv("new.csv", index=False)

In [15]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [16]:
df.to_csv("new.csv",header=False)

In [17]:
df.to_csv("new.csv", columns=["tickers","price"], index=False)

In [25]:
df = pd.read_excel("stock_data (2).xlsx","Sheet1")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [27]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell

def convert_price_cell(cell):
    if cell=="n.a.":
        return 50
    return cell
    
df = pd.read_excel("stock_data (2).xlsx","Sheet1", converters= {
        'people': convert_people_cell,
        'price': convert_price_cell
    })
df

  tickers            eps  revenue  price         people
0   GOOGL          27.82       87    845     larry page
1     WMT           4.61      484     65     Sam Walton
2    MSFT             -1       85     64     bill gates
3    RIL   not available       50   1023  mukesh ambani
4    TATA            5.6       -1     50     ratan tata

In [28]:
df.to_excel("new.xlsx", sheet_name="stocks", index=False, startrow=2, startcol=1)

In [29]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [30]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")